/*
BEM:  Bloque - Elemento - Modificador
*/

/*Variables*/
:root {
   --vue-bg-color: #34495e;
   --white-bg-color: #ffffff;
   --white-color: 255, 255, 255;
}


/*Bloques*/
.btn {
  /* display: block; */
  margin: .5em;
  padding: .5em 1.8em;
  border: 0;
  border-radius: 4px;
  border: 15px double var(--white-bg-color);
  font-size: 1.7em;
  font-weight: bold;
  background-color: var(--vue-bg-color);
  color: #fff;
}

a.btn {
  text-decoration: none;
}

.contador {
  width: 250px;
  height: 250px;
  border: 35px double var(--vue-bg-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.segmento {
  margin: 0;
  font-size: 9.5em;
  font-weight: bold;
  color: var(--vue-bg-color);
}

.incrementadores {
  display: inline-block;
}

/*Elementos*/


/*Modificadores*/

main{
  width: 100%;
  height:100vh;
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}