/*
BEM:  Bloque - Elemento - Modificador
*/

/*Variables*/
:root {
  --bc-color: #8420ff;
  --white-color: #ffffff;
  --green-cyan-color: #83c1ff;
  --base-bg-color: #0d9eff;
}


/*Bloque*/
.btn {
  display: inline-block;
  margin: .5em;
  padding: .5em 1em;
  border: 0;
  border-radius: 4px;
  background-color: var(--base-bg-color);
  color: #fff;
}


/*Elemento*/
.contenedor__botones {
  display: flex;
  justify-content: center;
}

.contenedor__tareas {
  border: 35px solid var(--green-cyan-color);
  border-radius: 4px;
  padding: 2em 3em;
  box-sizing: border-box;
}

.tarea__actividad {
  text-decoration: none;
  background-color: var(--bc-color);
  width: auto;
  height: 3.5em;
  border: 1px solid var(--bc-color);
  border-radius: 4px;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  color: var(--white-color);
  font-weight: bold;
}

/*Modificador*/
