<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Renderizado de listas</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i" rel="stylesheet">
  <link rel="stylesheet" href="../100.- Extra tools/style.css">
</head>

<body>
<main>
  <!-- Ejemplo con un array -->
  <ul>
    <li v-for="dia in dias">{{dia}}</li>
  </ul>
  <hr>

  <!-- Ejemplo con un array de objetos (colección) -->
  <ol>
    <li v-for="(persona, index) in personas"> 
       {{persona.nombre}}
      <small>
        | {{persona.nacionalidad}} - {{index}}
      </small>
    </li>
  </ol>
  <hr>

  <!-- Ejemplo con  objetos *--> 
  <ul>
    <li v-for="(value, key, index) in perro">
      {{index}} - {{key}}: {{value}}
    </li>
  </ul>
  

  <pre>{{$data}}</pre>

  <!-- 
    v-for: Renderiza una lista dada desde un array(simple o con colección de objetos) o 
    un objeto como respuesta de una API.

    * En caso de recorrer un simple objeto se puede usar una sintaxis mas "reducida"
      para interpretar por un key cada propiedad del objeto.
      Se declara de la siguiente forma: v-for="(value, key, index) in [Object]".

    NOTA: Para revisar mas funcionalidades de la directiva v-for, consultar la documentación
    oficial de Vue.js
   -->

</main>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="./js/app.js"></script>
</body>

</html>