<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Filtros</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i" rel="stylesheet">
  <link rel="stylesheet" href="../100-extra-tools/style.css">
</head>

<body>
<main>
  
  <h2>Filtrar por rangos</h2>
  <input type="range" min="0" max="10" class="input-range" 
  v-model="puntuacionMinima"
  list="tickmarks">

  <datalist id="tickmarks">
    <option value="0"></option>
    <option value="1"></option>
    <option value="2"></option>
    <option value="3"></option>
    <option value="4"></option>
    <option value="5"></option>
    <option value="6"></option>
    <option value="7"></option>
    <option value="8"></option>
    <option value="9"></option>
    <option value="10"></option>
  </datalist>

  <ol>
    <li v-for="juego in mejoresJuegos">
      {{ juego.titulo }}
    </li>
  </ol>

  <hr>

  <h2>Buscar</h2>
  <input type="search" placeholder="Buscar juego" v-model="busqueda">
  
  <ol>
    <li v-for="juego in buscarJuego">
      {{ juego.titulo }}
    </li>
  </ol>

  <hr>

  <h2>Aplicando filtro Uppercase</h2>
  <ol>
    <li v-for="juego in buscarJuego">
      {{ juego.titulo | uppercase }}
    </li>
  </ol>



  <pre>{{$data}}</pre>

  <!-- 
    Por recomendación de vue.js, los filtros tienen que estar implementados 
    atraves de las computed properties, dentro de la instancia vue. 

    Esto no limita a que se puedan usar filtros como se hacia en vue 1,
    pero se tienen que declarar por medio del método filter antes de la instancia vue.
  -->


</main>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="./js/app.js"></script>
</body>

</html>