.button {
  border: 0;
  margin-top: 1em;
  background-color: rgb(9, 194, 9);
  padding: 0.8em 1.3em;
  border-radius: 5px;
}

.button:hover {
  background-color: #606c76;
  border-color: #606c76;
  color: #fff;
}

.clase {
  margin: 9em;
  text-transform: uppercase;
}
